.film {
    border: 0;
    margin-bottom: 40px;
    display: block;
    clear: both;
    position: relative;
    color: $white;

    .film-thumb {
        height: 200px;
        background-position: center;
        background-size: cover;
        transition: transform .3s cubic-bezier(0, 1.7, .8, 1.7);
    }

    .film-text {
        overflow: hidden;
    }

    h2 {
        margin: 10px 0 20px;
        font-size: 14px;
        font-weight: 400;
        transition: color 1s;
    }

    p {
        max-height: 80px;
        margin: 0;
        transition: color 1s;
    }

    &:after {
        content: '';
        width: 100%;
        height: 20px;
        background: linear-gradient(to right, rgba(34,34,34,0), $grey 100%);
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &:hover .film-thumb,
    &:focus .film-thumb {
        transform: scale(1.05);
    }

    &:hover h2,
    &:focus h2,
    &:hover p,
    &:focus p {
        color: $yellow;
    }
}

#show-more-films {
    height: 30px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAGCAYAAABNTffhAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKJJREFUeNpi/P///3QGBgZtID4AxIeB+BgQf2WgHeAGYisgtgViByC+xgh0xD0gQxFJ0W8gPgPEh6D4CBB/osBSXqiFdlBsAsSsSPL3QY4QQ1IEcpkOEDMhKfoLxOehoXQA6qh3eCwVhJpnDzXTEIiZkeT/AfEVqFkgTx4GOYJSQ64DsSYlnsDmCFKD8w8Qs1ASncQ4glDCEgbit5QkbIAAAwBnB0GBzF74/gAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: center bottom;
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    transition: background-image 1s, color 1s;

    &:hover {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAGCAYAAABNTffhAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKtJREFUeNpifPWqYjoDA4M2EB8A4sNAfAyIvzLQDnADsRUQ2wKxAxBfYwES7kCsCBUEgd9AfAaID0HxESD+RIGlvFCz7aDYBIhZkeRlGIEhIYakCOQyHSBmQlL0F4jPQ0PpANRR7/BYKgg1zx5qpiEQMyPJ/wPiK1CzQJ48DHIEpYZcB2JNSjyBzRGkBucfIGZB4pMcnSxExOlnIN4GxdgSljAQv6UkYQMEGAAr4joLzzQbJgAAAABJRU5ErkJggg==);
        color: $yellow;
    }
}

#show-more-films.show-more-films--loading {
    background-image: url(/img/loading.gif);
    background-size: 15px;
    transition: background-image 0, color 1s;
}

@media (min-width: 640px) {
    .film {
        height: 200px;
        margin-bottom: 80px;

        .film-thumb {
            width: 44%;
            width: calc(50% - 40px);
        }

        h2 {
            font-size: 24px;
            font-weight: 300;
        }

        p {
            max-height: 130px;
        }

        &:after {
            width: 50%;
            height: 32px;
        }
    }

    #show-more-films {
        height: 40px;
        font-size: 14px;
    }
}