nav {
    width: 100%;
    height: 40px;
    background: $grey;
    box-shadow: 0 0 10px $dgrey;
    padding-top: 40px;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 4;
    transition: height .3s;

    a {
        width: 100%;
        height: 40px;
        border: 0;
        position: relative;
        float: left;
        color: $white;
        text-decoration: none;
        text-align: center;
        line-height: 40px;
        transition: color 1s;

        &:hover,
        &:focus {
            color: $yellow;
        }
    }
}

#nav-icon {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    user-select: none;
    z-index: 5;

    &:after {
        content: '';
        width: 40px;
        height: 40px;
        background-image: url(/img/icons.png);
        background-position: -2px center;
        background-repeat: no-repeat;
        background-size: 270px;
        position: absolute;
        right: 0;
    }

    &:hover,
    &:focus {
        color: $yellow;
    }
}

#nav-toggle {
    display: none;
}

#nav-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    position: fixed;
    z-index: 3;
}

#nav-toggle:checked + #nav {
    height: 280px;
}

#nav-toggle:checked ~ #nav-icon:after {
    background-position: -47px center;
}

#nav-toggle:checked ~ #nav-overlay {
    display: block;
}

@media (min-width: 640px) {
    nav {
        padding: 0;

        a {
            width: 16.66%;

            &:after {
                content: '';
                width: 1px;
                height: 20px;
                background: $lgrey;
                position: absolute;
                top: 10px;
                right: 0;
            }

            &:last-child:after {
                display: none;
            }
        }
    }

    #nav-icon {
        display: none;
    }
}