h1 {
    margin: 0 0 40px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 16px;
}

.h1--hide {
    display: none;
}

p {
    margin: 0 0 20px;
    font-size: 12px;
    text-align: justify;
    line-height: 20px;
}

a {
    text-decoration: none;

    &:focus {
        outline: 0;
    }
}

@media (min-width: 640px) {
    h1 {
        margin: 0 0 80px;
        font-size: 42px;
        line-height: 30px;
    }

    p {
        font-size: 16px;
        line-height: 32px;
    }
}